<tr>
  <td><span class="d-inline-block text-truncate" style="max-width: 10vw;"><%= values[0] %></span></td>
  <td><span class="d-inline-block text-truncate" style="max-width: 10vw;"><%= values[1] %></span></td>
  <td><%= values[2] %></td>
  <td><span class="d-inline-block text-truncate" style="max-width: 10vw;"><%= values[3] %></span></td>
  <td><%= values[4] %></td>
  <td><%= values[5] %></td>
  <td>
    <div class="btn-group">
      <button class="btn-sm zdropdown-toggle btn btn-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
	      <i class="fas fa-ellipsis-v"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item disabled pe-none" href="/">Actions</a></li>
      </ul>
    </div>

	</td>
</tr>
