<tr class="text-nowrap">
  <td><span class="d-inline-block text-truncate" style="max-width: 130px;"><%= values[0] %></span></td>
  <td><span class="d-inline-block text-truncate" style="max-width: 160px;"><%= values[1] %></span></td>
  <td><span class="d-inline-block text-truncate" style="max-width: 90px;"><%= values[2] %></span></td>
  <td><span class="d-inline-block text-truncate" style="max-width: 100px;"><%= values[3] %></span></td>
  <td><span class="d-inline-block ztext-truncate" style="max-width: 200px;"><%= values[4] %></span></td>
  <td><%= values[5] %></td>
  <td title="<%= values[6][1] %>"><%= values[6][0] %></td>
  <td>
    <div class="btn-group">
      <button class="btn-sm btn btn-link <%= inherit_styles %>" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-ellipsis-v"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-end <%= inherit_styles %>">
        <li><a class="dropdown-item <%= inherit_styles %> disabled pe-none" href="/">Actions</a></li>
      </ul>
    </div>

  </td>
</tr>
