<div id="contacts-index-table-summary">
  <div class="position-absolute top-0 end-0 me-3">

    <% if contacts_table_state.records.result.count != Contact.count %>
    <div class="d-inline-block btn pe-none <%= inherit_styles %>">
	showing <%= contacts_table_state.records.result.count %>/<%= Contact.count %>
    </div>
    <% end %>

    <% if contacts_table_state.query.present? %>
    <button type="button" class="btn btn-light pe-none <%= inherit_styles %>">
	<%= contacts_table_state.query %>
    </button>
    <% end %>

    <% if contacts_table_state.page.present? && contacts_table_state.page != 1 && contacts_table_state.page != "1" %>
    <button type="button" class="btn btn-light pe-none <%= inherit_styles %>">
	page <%= contacts_table_state.page %>
    </button>
    <% end %>

    <% if contacts_table_state.sort.present? %>
    <button type="button" class="btn btn-light pe-none <%= inherit_styles %>">
	sorted by <%= contacts_table_state.sort %>
    </button>
    <% end %>

    <% if contacts_table_state.direction.present? %>
    <button type="button" class="btn btn-light pe-none <%= inherit_styles %>">
	<%= direction_pretty(contacts_table_state.direction) %>
    </button>
    <% end %>
  </div>
</div>
