<% project = Project.find(project_id) %>

<div class="container">
  <div class="row ms-2">
    <div class="col-7"><!-- spacer --></div>
    <div class="col-3 p-2">
      <div class="input-group zmb-3">
        <div class="input-group-text">
          <input name="dispositions_prepare_listing_pane[listed]" type="hidden"   value="false" form="<%= form_id %>">
          <input class="form-check-input mt-0" name="dispositions_prepare_listing_pane[listed]" type="checkbox" value="true" data-action="dispositions-prepare-listing-pane#disableSendMarketingEmailButton" aria-label="Checkbox for following text input" form="<%= form_id %>" <%= 'checked' if project.listing.listed == 'true' %>>
        </div>
        <input type="text" class="form-control <%= normal_text %>" name="unused" value="Post To Marketplace" aria-label="Text input with checkbox" data-action="dispositions-prepare-listing-pane#disableSendMarketingEmailButton" style="background: transparent" disabled>
      </div>
    </div>
  </div>
</div>


<div class="container mt-4">
  <div id="tbd1637250014" class="row ms-2">
    <div class="col-11 p-2">
      <div class="btn-toolbar justify-content-end" role="toolbar" aria-label="Toolbar with button groups">

	<div class="btn-group me-2" role="group" aria-label="Third group">
          <button type="submit"
                  id="apollo1637252765"
                  class="btn btn-brandprimary text-white rounded-half-r-i"
                  name="name1637250309"
                  form="<%= form_id %>"
                  value="save"
                  data-what-was-clicked="save"
                  >SAVE</button>
	</div>
      </div>
    </div>
  </div>
</div>

