<% project = Project.find(project_id) %>

<div class="container">
  <div class="row ms-2">
    <div class="col-3 p-2">
      <div class="<%= demoted_text %>">Street</div>
      <span><%= project.street %></span>
    </div>

    <div class="col-3 p-2">
      <div class="<%= demoted_text %>">State</div>
      <span><%= project.state %></span>
    </div>
  </div>
  
  <div class="row  ms-2">
    <div class="col-3 p-2">
      <div class="<%= demoted_text %>">City</div>
      <span><%= project.city %></span>
    </div>

    <div class="col-3 p-2">
      <div class="<%= demoted_text %>">Zip</div>
      <span><%= project.zip %></span>

      <br><br>

    </div>

    <hr>

  </div>
</div>
