<% project = Project.find(project_id) %>

<div class="container <%= normal_text %>">

  <div class="row ms-2">
    <div class="col-3 p-2">

      <div class="mb-2">
        <label class="form-label mb-0" for="title">Suggested Price ($)</label>
        <%= number_field_tag 'dispositions_prepare_listing_pane[suggested_price]', project.listing.suggested_price, class: 'form-control', form: form_id, style: 'zwidth: 200px', data: { action: 'dispositions-prepare-listing-pane#disableSendMarketingEmailButton' } %>
        <span></span>
      </div>

    </div>

    <div class="col-5 p-2">

      <div class="mb-2">
        <label class="form-label mb-0" for="title">Property Type</label>
        <%= select_tag "dispositions_prepare_listing_pane[opportunity_type]", options_for_select(OPPORTUNITY_TYPES.map {|x,y| [y,x] }, project.listing.opportunity_type), class: "form-select", form: form_id, data: { action: 'dispositions-prepare-listing-pane#disableSendMarketingEmailButton' } %>
        <span></span>
      </div>

    </div>
  </div>

  <div class="row ms-2">
    <div class="col-8 p-2">


      <div class="mb-2">
        <label class="form-label mb-0" for="title">Title</label>
        <%= text_field_tag 'dispositions_prepare_listing_pane[title]', project.listing.title, class: 'form-control', form: form_id, data: { action: 'dispositions-prepare-listing-pane#disableSendMarketingEmailButton' } %>
        <span></span>
      </div>

      <div class="mb-2">
        <label class="form-label mb-0" for="title">Description (Rich Text)</label>
        <%= rich_text_area_tag "dispositions_prepare_listing_pane[description]", project.listing.description, form: form_id %>
        <span></span>
      </div>

    </div>
  </div>


</div>



<div class="container <%= normal_text %>">
  <div class="row row-cols-5 ms-2">
    <div class="col p-2">

      <div class="mb-2">
        <label class="form-label mb-0" for="title">Walkthrough Date</label>
        <%= date_field_tag 'dispositions_prepare_listing_pane[walkthrough_date]', project.listing.walkthrough_date, class: 'form-control', placeholder: 'MM-DD-YYYY', form: form_id, data: { action: 'dispositions-prepare-listing-pane#disableSendMarketingEmailButton' } %>
        <span></span>
      </div>

    </div>


    <div class="col p-2">

      <div class="mb-2">
        <label class="form-label mb-0" for="title">Walkthrough Time</label>
        <input type="time" value="<%= project.listing.walkthrough_time %>" class="form-control" id="tbd1637263360" name="dispositions_prepare_listing_pane[walkthrough_time]" min="01:00" max="23:00" form="<%=form_id%>" data-action="dispositions-prepare-listing-pane#disableSendMarketingEmailButton">
        <span></span>

      </div>

    </div>

    <div class="col p-2">

      <div class="mb-2">
        <label class="form-label mb-0 almost-not-there" for="title">Schedule Email</label>
        <%= date_field_tag 'dispositions_prepare_listing_pane[walkthrough_schedule_email]', project.listing.walkthrough_schedule_email, class: 'form-control almost-not-there', placeholder: 'MM-DD-YYYY', form: form_id, disabled: true %>
        <span></span>
      </div>

    </div>

    <div class="col p-2">

      <div class="mb-2 almost-not-there">

        <label class="form-label mb-0" for="title">&nbsp;</label>
        <div class="input-group mb-3">
          <div class="input-group-text">
            <input name="dispositions_prepare_listing_pane[walkthrough_schedule_email_send_now]" type="hidden" value="false" form="<%= form_id %>">
            <input class="form-check-input mt-0" name="dispositions_prepare_listing_pane[walkthrough_schedule_email_send_now]" type="checkbox" value="true" aria-label="Checkbox for following text input" form="<%= form_id %>" <%= 'checked' if project.listing.walkthrough_schedule_email_send_now == 'true' %>>
          </div>
          <input type="text" class="form-control <%= normal_text %>" name="unused" value="Send Now" aria-label="Text input with checkbox" style="background: transparent" disabled>
        </div>

      </div>

    </div>


    <div class="col p-2">
      &nbsp;
    </div>

    <div class="col p-2">

      <div class="mb-2">
        <label class="form-label mb-0 almost-not-there" for="title">Marketing Email</label>
        <%= date_field_tag 'dispositions_prepare_listing_pane[marketing_email]', project.listing.marketing_email, class: 'form-control almost-not-there', placeholder: 'MM-DD-YYYY', form: form_id, disabled: true %>
        <span></span>
      </div>

    </div>

    <div class="col p-2">

      <div class="mb-2">
        <label class="form-label mb-0" for="title">&nbsp;</label>
        <%= render '/dispositions_prepare_listing_pane/form/segment_2/send_marketing_email', project_id: project.id %>
      </div>

    </div>

  </div>
  <hr>
</div>
