<tr>
  <% form_id = random_id %>
  <%= form_with(url: configuration_path, method: :patch, id: form_id) do |form| %>
    <td>
      Marketplace::BasicStyle<br>
      <span class="fst-italic">Most common. Used by The property-description paragraph, lower-menu-items etc.</span>
    </td>
    <td>
      <%= configuration_size_tag(:marketplace_basic_style_size, Setting.marketplace_basic_style_size, form_id) %>
    </td>
    <td>
      <%= configuration_weight_tag(:marketplace_basic_style_weight, Setting.marketplace_basic_style_weight, form_id) %>
    </td>
    <td>
      <%= configuration_face_tag(:marketplace_basic_style_face, Setting.marketplace_basic_style_face, form_id) %>
    </td>
    <td>
      <%= configuration_color_tag(:marketplace_basic_style_color, 'Color', Setting.marketplace_basic_style_color, form_id)  %>
    </td>
  <% end %>
</tr>
