<div class="container">
  <div class="row">
    <div class="col">

      <ul class="nav nav-tabs">
	<li class="nav-item fw-light">
	  <a class="nav-link text-brandprimary <%= 'fw-bold' if active == 'Review Offer' %> bg-transparent" href="<%= "/projects/#{project.id}/underwriting_review_offer" %>">Review Offer</a>
	</li>
	<li class="nav-item fw-light">
	  <a class="nav-link text-brandprimary <%= 'fw-bold' if active == 'Prepare Repc' %> bg-transparent" href="<%= "/projects/#{project.id}?tab=underwriting_prepare_repc" %>">Prepare REPC</a>
	</li>
	<li class="nav-item fw-light">
	  <a class="nav-link text-brandprimary <%= 'fw-bold' if active == 'Property Analysis' %> bg-transparent" href="<%= "/projects/#{project.id}?tab=underwriting_property_analysis" %>">Property Analysis</a>
	</li>
	<li class="nav-item fw-light">
	  <a class="nav-link text-brandprimary <%= 'fw-bold' if active == 'Intake Form' %> bg-transparent" href="<%= "/projects/#{project.id}?tab=underwriting_intake_form" %>">Intake Form</a>
	</li>

      </ul>

    </div>
  </div>
</div>
