<% project = Project.find(project_id) %>

<%= render '/card', title: 'REPC Feedback' do %>

  <% project.repcs.each do |repc| %>
  <div class="row">
    <div class="col mx-3 py-3">
      <div class="text-center <%= normal_text %>">
        repc v<%= repc.version %>:
	<% if repc.accepted? %>
	accepted
	<% elsif repc.rejected? %>
        rejected 
        <% end %>
        <% if repc.rejected_feedback.present? %>
	  with feedback "...<%= repc.rejected_feedback %>..."
	<% end %>
        <% if repc.second_seller_rejected_feedback.present? %>
	  with feedback "...<%= repc.second_seller_rejected_feedback %>..."
	<% end %>
      </div>
    </div>
  </div>
  <% end %>
<% end %>

