<div class="row">
  <div class="col-3 m-3">
    <%= silica_anchor(addendum_path(addendum_version.addendum), size: 'btn-sm') do %>
      <i class="bi bi-chat"></i>
    <% end %>
    <span class="form-control-sm">Draft <%= addendum_version.version %></span>
  </div>

  <% if editable %>
    <div class="col-auto m-3">
      <%= silica_button(size: 'btn-sm', name: 'what_was_clicked', value: 'discard_addendum_version', form: form_id, disabled: addendum_version.discard_button_disabled?) do %>
        DISCARD
      <% end %>
    </div>

    <div class="col-auto m-3">
      <%= silica_button(size: 'btn-sm', name: 'what_was_clicked', value: 'sign_addendum_version', form: form_id, disabled: addendum_version.sign_button_disabled?) do %>
        SIGN
      <% end %>
    </div>

    <div class="col-auto m-3">
      <%= silica_button(size: 'btn-sm', name: 'what_was_clicked', value: 'send_addendum_version_to_seller', form: form_id, disabled: addendum_version.send_to_seller_button_disabled?) do %>
        SEND TO SELLER
      <% end %>
    </div>
  <% end %>
</div>
