<div class="row">
  <div class="col-3 m-3">
    <%= link_to addendum_path(addendum_version.addendum), class: 'text-decoration-none' do %>
      <span class="fa-stack">
        <i class="fas fa-comment fa-stack-1x"></i>
        <i class="far fa-square fa-stack-2x"></i>
      </span>
    <% end %>
    Draft <%= addendum_version.version %>
  </div>

  <% if editable %>
  <div class="col-auto m-3">
    <div class="apollo-fg-black-20 apollo-fs-14">
      <button name="what_was_clicked" value="discard_addendum_version" type="submit" class="btn btn-sm btn-brandprimary text-white silica-rounded-0.5-i" form="<%= form_id %>"
      <%= 'disabled' unless addendum_version.related_repc.mature? %>
      <%= 'disabled' if addendum_version.is_accepted_or_rejected? %>
      >
        Discard
      </button>          
	</div>
  </div>

  <div class="col-auto m-3">
    <div class="apollo-fg-black-20 apollo-fs-14">
      <button name="what_was_clicked" value="sign_addendum_version" type="submit" class="btn btn-sm btn-brandprimary text-white silica-rounded-0.5-i" form="<%= form_id %>"
      <%= 'disabled' if ["Accepted", "Rejected"].include?(addendum_version.derived_status) %>
      <%= 'disabled' if addendum_version.signed_by_company_at.present? %>
      <%= 'disabled' unless addendum_version.related_repc.mature? %>
      >
        Sign
      </button>          
	</div>
  </div>

  <div class="col-auto m-3">
    <div class="apollo-fg-black-20 apollo-fs-14">
      <button name="what_was_clicked" value="send_addendum_version_to_seller" type="submit" class="btn btn-sm btn-brandprimary text-white silica-rounded-0.5-i" form="<%= form_id %>"
      <%= 'disabled' if ["Accepted", "Rejected"].include?(addendum_version.derived_status) %>
      <%= 'disabled' if !addendum_version.signed_by_company_at.present? %>
      <%= 'disabled' unless addendum_version.related_repc.mature? %>
      >
        Send To Seller
      </button>          
	</div>
  </div>
  <% end %>

</div>
