<div id="contacts-index-bar" class="btn-toolbar" role="toolbar" data-controller="contacts">
  <%= form_with(url: '/contact_searches', method: :post, id: 'contact_searches_form') do |form| %>
    <%= form.hidden_field 'contact_search[sort]', value: contacts_bar_state.sort, data: { 'contacts_target': 'sort' } %>
    <%= form.hidden_field 'contact_search[direction]', value: contacts_bar_state.direction, data: { 'contacts_target': 'direction' } %>
    <%= form.hidden_field 'contact_search[page]', value: contacts_bar_state.page, data: { 'contacts_target': 'page' } %>
  <% end %>

  <div class="btn-group collapse show" data-contacts-target="pagination" role="group">
    <div class="btn-group" role="group">
     <%= silica_button(rounding: nil, type: 'button', data: { action: 'contacts#previous'}) do %>
       &lsaquo;
      <% end %>
     <%= silica_button(rounding: nil, type: 'button', data: { action: 'contacts#next'}) do %>
       &rsaquo;
      <% end %>
    </div>
  </div>

  <div class="btn-group ms-3" role="group">
    <%= silica_button(rounding: nil, type: 'button', classes: ['collapse', 'show'], data: { action: 'contacts#plus', 'contacts-target' => 'plus'}) do %>
     +
    <% end %>
  </div>

  <%= render '/contacts/form' %>

  <div class="btn-group" role="group">
    <div class="input-group ms-3 me-3">
      <input class="form-control <%= inherit_styles %> collapse show" form="contact_searches_form" data-contacts-target="search" type="search" name="contact_search[query]" autocomplete="off" id="contacts-index-bar-query">
      <div class="<%= inherit_styles %> input-group-text collapse show bg-transparent" data-action="click->contacts#search" data-contacts-target="searchBtn" role="button">
	SEARCH
      </div>
    </div>
  </div>
  <%= render '/contacts/index/bar/sort' %>
</div>
