<div id="contacts-index-table" class="table-responsive position-relative">

  <div id="contacts-index-table-summary" >
    <div class="position-absolute top-0 end-0 me-3">
      <div class="d-inline-block btn">showing <%= contacts_table_state.records.count %>/<%= Contact.count %></div>

      <% if contacts_table_state.query.present? %>      
      <button type="button" class="btn btn-light pe-none">
	<%= contacts_table_state.query %>
	<span class="pe-auto"><i class="fas fa-times text-brandprimary"></i></span>
      </button>
      <% end %>

      <% if contacts_table_state.page.present? %>      
      <button type="button" class="btn btn-light pe-none">
	page <%= contacts_table_state.page %>
	<span class="pe-auto"><i class="fas fa-times text-brandprimary"></i></span>
      </button>
      <% end %>

      <% if contacts_table_state.sort.present? %>      
      <button type="button" class="btn btn-light pe-none">
	sort <%= contacts_table_state.sort %>
	<span class="pe-auto"><i class="fas fa-times text-brandprimary"></i></span>
      </button>
      <% end %>

      <% if contacts_table_state.direction.present? && contacts_table_state.direction == "desc" %>      
      <button type="button" class="btn btn-light pe-none">
	descending
	<span class="pe-auto"><i class="fas fa-times text-brandprimary"></i></span>
      </button>
      <% end %>


    </div>
  </div>

  <div class="mt-1">&nbsp;<!-- spacer --></div>
  <table class="table table-borderless">
    <tbody>

      <tr>
        <td colspan="9" class="text-center">
          <% if !contacts_table_state.empty && !contacts_table_state.fresh %>
	  <i class="fas fa-exclamation-triangle"></i> This view can sometimes be out of date. You can click <a href="/contacts/refresh">here</a> to refresh.
          <% end %>

          <% if contacts_table_state.empty %>
	  Click <a href="/contacts/refresh">here</a> to fetch from sendgrid.com.
          <% end %>

	</td>
      </tr>

      <% contacts_table_state.records.each do |contact| %>
        <%= render '/contacts/index/table/row', { values: [
              contact.first_name.presence || '-',
              contact.last_name.presence || '-',
              contact.phone_mobile.presence || '-phone-',
              contact.phone_work.presence || '-work-phone-',
              contact.email.presence || '-',
              (investing_locations_pretty(contact.investing_location)).presence || '-',
	      contact.sendgrid_created_at_searchable
            ]  
  	  } %>
      <% end %>

    </tbody>
  </table>
</div>
