<div id="contacts-index-table" class="table-responsive position-relative">
  <%= render '/contacts/index/table/summary', contacts_table_state: contacts_table_state %>
  <%= spacer(30) %>
  <table class="table table-borderless <%= inherit_styles %>">
    <tbody>
      <tr>
	<td colspan="9" class="text-center">
	  <i class="fas fa-exclamation-triangle"></i> This view can sometimes be out of date. You can click <%= silica_anchor('/contacts/refresh', size: 'btn-sm') do %>here<% end %> to refresh.
	  <% if contacts_table_state.empty? %>
	  Click <a href="/contacts/refresh">here</a> to fetch from sendgrid.com.
	  <% end %>
	</td>
      </tr>
      <% contacts_table_state.records.result.page(contacts_table_state.page).per(25).each do |contact| %>
	<%= render '/contacts/index/table/row', { values: [
	      dashify(contact.first_name),
	      dashify(contact.last_name),
	      contact.phone_mobile.presence || '-phone-',
	      contact.phone_work.presence || '-work-phone-',
	      dashify(contact.email),
	      dashify(investing_locations_pretty(contact.investing_location)),
	      [ contact.sendgrid_created_at_searchable, contact.sendgrid_created_at ]
	    ]
	  } %>
      <% end %>
    </tbody>
  </table>
</div>
