<%= spacer(3) %>

<div class="container"><div class="row"><div class="col">
  <div class="accordion" id="confgurations-edit-accordion">
    <div class="accordion-item">
      <h2 class="accordion-header">
	<button class="accordion-button text-black bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
          Marketplace
	</button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#confgurations-edit-accordion">
	<div class="accordion-body">
	  <div class="container">
            <table class="table">
              <%= render '/configurations/edit/row1' %>
              <%= render '/configurations/edit/row2' %>
              <%= render '/configurations/edit/row3' %>
              <%= render '/configurations/edit/row4' %>
              <%= render '/configurations/edit/row5' %>
              <%= render '/configurations/edit/row6' %>
              <%= render '/configurations/edit/row7' %>
            </table>
          </div>
	</div>
      </div>
    </div>
  </div>
</div></div></div>
