<% project = Project.find(project_id) %>

<%= render '/card', title: 'Scout Property Inspection Report' do |p| %>

  <% if defined?(:p) && p %>
    <% p.content_for :heading_right do %>
      <div class="me-3">
        <% if project.scout.present? %>
        <a href="<%= project.scout %>" target="_blank" class="btn btn-sm btn-outline-brandprimary silica-rounded-0.5-i">
          VIEW SCOUT LINK
        </a>
        <% else %>
        <button disabled href="<%= project.scout %>" target="_blank" class="btn btn-sm btn-outline-brandprimary silica-rounded-0.5-i">
          VIEW SCOUT LINK
        </button>
        <% end %>
      </div>
    <% end %>
  <% end %>


  <div class="row">
    <div class="col mx-3 py-3">
      <div class="apollo-fg-black-20 apollo-fs-14">Address</div>
      <span class="text-nowrap"><%= project.combined_address %></span>
    </div>
    <div class="col mx-3 py-3">
      <div class="apollo-fg-black-20 apollo-fs-14">Seller Email</div>
      <div><%= project.email %></div>
    </div>
    <div class="col mx-3 py-3">
      <!-- future use -->
    </div>
  </div>

  <div class="row">
    <div class="col mx-3 py-3">
      <div class="apollo-fg-black-20 apollo-fs-14">City</div>
      <span><%= project.city %></span>
    </div>
    <div class="col mx-3 py-3">
      <div class="apollo-fg-black-20 apollo-fs-14">State</div>
        <div><%= project.state %></div>
    </div>
    <div class="col mx-3 py-3">
      <div class="apollo-fg-black-20 apollo-fs-14">Zip</div>
      <%= project.zip %>
    </div>
  </div>

  <div class="row">
    <div class="col py-3">
      &nbsp;
    </div>
    <div class="col-auto mx-1 py-3">
      <%= render '/shared/buttons/create_scout_link_button', project_id: project.id %>
    </div>
    <div class="col-auto mx-1 py-3">
      <%= render '/shared/buttons/send_scout_to_seller_button', project_id: project.id %>
    </div>
    <div class="col-1 py-3">
      &nbsp;
    </div>
  </div>

<% end %>
