<% 
  project = Project.find(project)
  form_id = "form-dispositions-prepare-listing-pane"
%>

<div id="dispositions-prepare-listing-pane" data-controller="dispositions-prepare-listing-pane" class="<%= normal_text %>">
  <%= form_with url: "/dispositions_prepare_listing_panes", id: form_id do |form| %>
    <%= form.hidden_field 'project_id', value: project.id %>
  <% end %>
    <div class="container pt-3 pb-3">
      <%= render '/card', title: 'Prepare Listing' do %>
        <%= render '/dispositions_prepare_listing_pane/form/segment_1', project_id: project.id, form_id: form_id %>
        <%= render '/dispositions_prepare_listing_pane/form/segment_2', project_id: project.id, form_id: form_id %>
        <%= render '/dispositions_prepare_listing_pane/form/segment_3', project_id: project.id, form_id: form_id %>
        <%= render '/dispositions_prepare_listing_pane/form/segment_4', project_id: project.id, form_id: form_id %>
        <%= render '/dispositions_prepare_listing_pane/form/segment_5', project_id: project.id, form_id: form_id %>
        <%= render '/dispositions_prepare_listing_pane/form/segment_6', project_id: project.id, form_id: form_id %>
      <% end %>
    </div><!-- /container -->

</div>
