<div class="row align-items-center">
  <div class="col-auto">
    <img width="73" src="<%= silica_bucket('/mugshot.png') %>" />
  </div>
  <div class="col">
    <div class="<%= Marketplace::StrongStyle.css %>" style="<%= Marketplace::StrongStyle.inline_css %>">
      <%= APOLLO_PURCHASER_NAME %>
    </div>
    <div class="<%= Marketplace::BasicStyle.css %>" style="<%= Marketplace::BasicStyle.inline_css %>">
      <i class="fas fa-phone" style="color: #D32027"></i>
      <span class="ms-1"><%= APOLLO_PURCHASER_PHONE %></span>
    </div>
    <div class="<%= Marketplace::BasicStyle.css %>" style="<%= Marketplace::BasicStyle.inline_css %>">
      <i class="fas fa-envelope" style="color: #D32027"></i>
      <span class="ms-1"><%= APOLLO_PURCHASER_EMAIL %></span>
      
    </div>
  </div>
</div>

    
