<div class="container-xxl">
  <div class="text-center <%= Marketplace::WeakerStyle.css %>" style="<%= Marketplace::WeakerStyle.inline_css %>">
    © 2021 <%= COMPANY %>
  </div>
  <div class="text-center <%= Marketplace::WeakerStyle.css %>" style="<%= Marketplace::WeakerStyle.inline_css %>">
    <%= APOLLO_DISCLAIMER %>
  </div>
</div>
