<% listing = Listing.find(listing_id)
   property_type = listing.property_type.presence || '-'
   lot_size = listing.lot_size.presence || '-'
   hoa_fees = listing.hoa_fees.presence || 'N/A'
   sqft = listing.sqft.presence || '-'
   price_per_sqft = listing.price_sqft.presence || '-'
   bed = listing.beds.presence || '-'
   owner_occupied = listing.owner_occupied.presence || '-'
   bath = listing.baths.presence || '-'
   heating = listing.heating.presence || '-'
   cooling = listing.cooling.presence || '-'
   year = listing.year.presence || '-'

 %>


<div class="container fs-1 text-muted">

  <div class="bd-example">
    <div class="row row-cols-1 row-cols-md-2 g-4">

      <%= render '/listings/show/icon_grid/container', a: 'ðŸ¢', b: 'Property Type', c: property_type %>
      <%= render '/listings/show/icon_grid/container', a: 'ðŸŒ²', b: 'Lot Size', c: lot_size %>
      <%= render '/listings/show/icon_grid/container', a: 'ðŸ’µ', b: 'HOA Fees', c: hoa_fees %>
      <%= render '/listings/show/icon_grid/container', a: 'ðŸ“', b: 'Sqft', c: sqft %>
      <%= render '/listings/show/icon_grid/container', a: '$', b: 'Price Per Sqft', c: price_per_sqft %>
      <%= render '/listings/show/icon_grid/container', a: 'ðŸ›', b: 'Bed', c: bed %>
      <%= render '/listings/show/icon_grid/container', a: 'ðŸ§”', b: 'Owner Occupied', c: owner_occupied %>

      <%= render '/listings/show/icon_grid/container', a: 'ðŸ›', b: 'Bath', c: bath %>
      <%= render '/listings/show/icon_grid/container', a: 'ðŸŒ¡ï¸', b: 'Heating', c: heating %>
      <%= render '/listings/show/icon_grid/container', a: 'â„', b: 'Cooling', c: cooling %>
      <%= render '/listings/show/icon_grid/container', a: 'ðŸ“…', b: 'Year', c: year %>

    </div>
  </div>

</div>
