<div class="container-xxl">
  <div class="row row-cols-2 row-cols-lg-5">


    <div class="col p-4">
      <div class="my-3 <%= Marketplace::StrongStyle.css %>" style="<%= Marketplace::StrongStyle.inline_css %>">
	Company
      </div>
      <a class="my-1 text-decoration-none d-block <%= Marketplace::BasicStyle.css %>" style="color: inherit; <%= Marketplace::BasicStyle.inline_css %>" href="https://www.<%= APOLLO_MARKETPLACE_NAKED_DOM %>/company-pages/about">About Us</a>
      <a class="my-1 text-decoration-none d-block <%= Marketplace::BasicStyle.css %>" style="color: inherit; <%= Marketplace::BasicStyle.inline_css %>" href="https://www.<%= APOLLO_MARKETPLACE_NAKED_DOM %>/company-pages/contact-us">Contact Us</a>
      <a class="my-1 text-decoration-none d-block <%= Marketplace::BasicStyle.css %>" style="color: inherit; <%= Marketplace::BasicStyle.inline_css %>" href="https://www.<%= APOLLO_MARKETPLACE_NAKED_DOM %>/company-pages/careers">Careers</a>
    </div>

    <div class="col p-4">
      <div class="my-3 <%= Marketplace::StrongStyle.css %>" style="<%= Marketplace::StrongStyle.inline_css %>">
	Resources
      </div>
      <a class="my-1 text-decoration-none d-block <%= Marketplace::BasicStyle.css %>" style="color: inherit; <%= Marketplace::BasicStyle.inline_css %>" href="https://www.<%= APOLLO_MARKETPLACE_NAKED_DOM %>/blog-pages/resource-center">Resource Center</a>
      <a class="my-1 text-decoration-none d-block <%= Marketplace::BasicStyle.css %>" style="color: inherit; <%= Marketplace::BasicStyle.inline_css %>" href="https://www.<%= APOLLO_MARKETPLACE_NAKED_DOM %>/faqs">FAQs</a>
      <a class="my-1 text-decoration-none d-block <%= Marketplace::BasicStyle.css %>" style="color: inherit; <%= Marketplace::BasicStyle.inline_css %>" href="https://www.<%= APOLLO_MARKETPLACE_NAKED_DOM %>/company-pages/contact-us">Help Center</a>
    </div>

    <div class="col p-4">
      <div class="my-3 <%= Marketplace::StrongStyle.css %>" style="<%= Marketplace::StrongStyle.inline_css %>">
	Policies
      </div>
      <a class="my-1 text-decoration-none d-block <%= Marketplace::BasicStyle.css %>" style="color: inherit; <%= Marketplace::BasicStyle.inline_css %>" href="https://www.<%= APOLLO_MARKETPLACE_NAKED_DOM %>/privacy-policy">Privacy Policy</a>
      <a class="my-1 text-decoration-none d-block <%= Marketplace::BasicStyle.css %>" style="color: inherit; <%= Marketplace::BasicStyle.inline_css %>" href="https://www.<%= APOLLO_MARKETPLACE_NAKED_DOM %>/terms-and-conditions">Terms & Conditions</a>
      <a class="my-1 text-decoration-none d-block <%= Marketplace::BasicStyle.css %>" style="color: inherit; <%= Marketplace::BasicStyle.inline_css %>" href="https://www.hud.gov/hudprograms/fheo">Fair Housing & Equal Opportunity</a>
    </div>

    <div class="col p-4">
      <div class="my-3 <%= Marketplace::StrongStyle.css %>" style="<%= Marketplace::StrongStyle.inline_css %>">
	Services
      </div>
      <a class="my-1 text-decoration-none d-block <%= Marketplace::BasicStyle.css %>" style="color: inherit; <%= Marketplace::BasicStyle.inline_css %>" href="https://<%= APOLLO_MBO_NAKED_DOM %>/">Sell to <%= COMPANY %></a>
      <a class="my-1 text-decoration-none d-block <%= Marketplace::BasicStyle.css %>" style="color: inherit; <%= Marketplace::BasicStyle.inline_css %>" href="https://www.www.<%= APOLLO_MARKETPLACE_NAKED_DOM %>/">Buy from <%= COMPANY %></a>
      <a class="my-1 text-decoration-none d-block <%= Marketplace::BasicStyle.css %>" style="color: inherit; <%= Marketplace::BasicStyle.inline_css %>" href="https://www.<%= APOLLO_MARKETPLACE_NAKED_DOM %>/coming-soon">Fund with <%= COMPANY %></a>
      <a class="my-1 text-decoration-none d-block <%= Marketplace::BasicStyle.css %>" style="color: inherit; <%= Marketplace::BasicStyle.inline_css %>" href="https://www.<%= APOLLO_MARKETPLACE_NAKED_DOM %>/coming-soon">Grow with <%= COMPANY %></a>
    </div>

    <div class="col p-4">
      <div class="my-3 <%= Marketplace::StrongStyle.css %>" style="<%= Marketplace::StrongStyle.inline_css %>">
	Locations
      </div>
      <a class="my-1 text-decoration-none d-block <%= Marketplace::BasicStyle.css %>" style="color: inherit; <%= Marketplace::BasicStyle.inline_css %>" href="https://app.<%= APOLLO_MARKETPLACE_NAKED_DOM %>/listings">Utah</a>
      <a class="my-1 text-decoration-none d-block <%= Marketplace::BasicStyle.css %>" style="color: inherit; <%= Marketplace::BasicStyle.inline_css %>" href="https://app.<%= APOLLO_MARKETPLACE_NAKED_DOM %>/listings">North Carolina</a>
    </div>

  </div>

</div>
