<% 
%>

<div class="silica-rounded-1-i mx-5 p-5 fw-light text-center <%= normal_text %> <%= current_area.background_style %>">
  <div class="my-3">
    <%= APOLLO_PURCHASER_NAME %><br>
    <%= APOLLO_PURCHASER_PHONE_ALT %><br>
    <a href="mailto:<%= APOLLO_PURCHASER_EMAIL %>"><%= APOLLO_PURCHASER_EMAIL %></a>
  </div>
  
  <div class="my-3">
    <!-- -->
  </div>
</div>
