<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-controller="toast" data-confetti="<%= event.definition['confetti'] %>" data-voice="<%= event.definition['voice'] %>" data-voice-strength="<%= event.definition['voice_strength'] %>" data-accent="<%= event.definition['accent'] %>" data-bucket="<%= silica_neutral_bucket("") %>">
  <div class="toast-header">
    <span class="me-2 <%= event.color %>"><i class="bi bi-square-fill"></i></span>
    <strong class="me-auto"><%= COMPANY_LC %>.</strong>
    <small class="text-muted" style="text-transform: lowercase" data-iso8601="<%= event.timestamp.iso8601 %>" data-controller="momentify"></small>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    <% if event.category == 'project_creation' %>
      Project <%= event.record.id %> created
    <% elsif event.category == 'addition_repc_signed_by_company_at' %>
      Repc signed by <%= COMPANY %>
    <% elsif event.category == 'comment_added' %>
      <%= event.inventor.initials.upcase %>. commented: <%= Comment.find(event.secondary_record_id).content %>
    <% elsif event.category == 'repc_signed' %>
      Repc signed for project <%= event.record.id %>
    <% elsif event.category == 'repc_signed_by_seller' %>
      Repc signed by seller for project <%= event.record.id %>
    <% elsif event.category == 'offer_viewed' %>
      Offer viewed by seller for project <%= event.record.id %>
    <% elsif event.category == 'sales_notes_added' %>
      Sales notes added for project <%= event.record.id %>
    <% elsif event.category == 'underwriting_notes_added' %>
      Underwriting notes added for project <%= event.record.id %>
    <% elsif event.category == 'repc_feedback' %>
      Repc received feedback - project <%= event.record.id %>
    <% elsif event.category == 'addendum_feedback' %>
      Addendum received feedback - project <%= event.record.id %>
    <% elsif event.category == 'property_analysis_started' %>
      Property Analysis Started for project <%= event.record.id %>
    <% elsif event.category == 'offer_sent' %>
      Offer sent
    <% elsif event.category == 'addendum_sent' %>
      Addendum sent
    <% elsif event.category == 'file_added' %>
      File added: <%= ProjectFile.find(event.secondary_record_id).silicafile.blob.filename.to_s %>
    <% elsif event.category == 'marketing_mail_sent' %>
      Marketing mail sent for project <%= event.record.id %>
    <% elsif event.category == 'listing_added' %>
      Listing added for project <%= event.record.id %>
    <% elsif event.category == 'listing_removed' %>
      Listing removed for project <%= event.record.id %>
    <% end %>
  </div>
</div>
