<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-controller="toast" data-confetti="<%= event.confetti? %>" data-audible="<%= event.audible %>">
  <div class="toast-header">
    <%= svg_box %>
    <strong class="me-auto"><%= COMPANY_LC %>.</strong>
    <small class="text-muted" style="text-transform: lowercase" data-iso8601="<%= event.timestamp.iso8601 %>" data-controller="momentify"></small>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    <% if event.category == 'project_creation' %>
      Project <%= event.record.id %> created
    <% elsif event.category == 'addition_repc_signed_by_company_at' %>
      Repc signed by <%= COMPANY %>
    <% elsif event.category == 'project_comment' %>
      <%= event.inventor.initials.upcase %>. commented: <%= Comment.find(event.secondary_record_id).content %>
    <% end %>
  </div>
</div>
