<%
  project = Project.find(project_id)
%>

<div class="row">
  <div class="col-5 mx-3 py-3">
    <div class="apollo-fg-black-20 apollo-fs-14">Seller Name</div>
    <%= project.name %>
  </div>


  <div class="col-5 mx-3 py-3">
    <div class="apollo-fg-black-20 apollo-fs-14">Second Seller Name</div>
    <%= project.secondName || '-' %>
  </div>

  <div class="col-5 mx-3 py-3">
    <div class="apollo-fg-black-20 apollo-fs-14">Seller Email</div>
    <%= project.email %>
  </div>

  <div class="col-5 mx-3 py-3">
    <div class="apollo-fg-black-20 apollo-fs-14">Second Seller Email</div>
    <%= project.secondEmail || '-' %>
  </div>

  <div class="col-5 mx-3 py-3">
    <div class="apollo-fg-black-20 apollo-fs-14">Seller Phone</div>
    <%= project.phone %>
  </div>

  <div class="col-5 mx-3 py-3">
    <div class="apollo-fg-black-20 apollo-fs-14">Second Seller Phone</div>
    <%= project.secondPhone || '-' %>
  </div>
</div>

