<% intake_form = project.intake_form %>

<hr>
Dispositions

<div class="row">
  <div class="col mx-3 py-3">

    <%= silica_caption 'Internal Summary for Dispositions' %>
    <span class="border-bottom-dashed min-sizes-for-child-textareas" data-controller="textarea-inline" data-textarea-inline-form-value="<%= form_id %>" data-form="<%= form_id %>"><%= intake_form.internal_summary_for_dispositions %></span>
    <input type="hidden" name="underwriting_intake_form_pane[internal_summary_for_dispositions]" form="<%= form_id %>"  value="<%= intake_form.internal_summary_for_dispositions %>" />



  </div>

  <div class="col mx-3 py-3">
    <%= silica_caption 'Disposition Plan' %>
    <span class="border-bottom-dashed" data-form="<%= form_id %>" data-selectdata='{"Complete":"Complete","Incomplete":"Incomplete","selected":"<%=intake_form.disposition_plan%>"}' data-controller="select-inline"><%=intake_form.disposition_plan%></span>
    <input type="hidden" name="underwriting_intake_form_pane[disposition_plan]" form="<%= form_id %>" value="<%=intake_form.disposition_plan%>">

  </div>

</div>

<br>
