<tr class="fw-light table-info">
  <td>
    <%= link_to "/projects/#{project.id}/overview", class: "text-decoration-none #{normal_text}" do %>
      <span class="d-inline-block text-truncate" style="max-width: 11vw"><%= project.name %></span>
    <% end %>
  </td>

  <td title="<%= "#{project.combined_address}" %>">
    <%= link_to "/projects/#{project.id}/overview", class: "text-decoration-none #{normal_text}" do %>
      <span class="d-inline-block text-truncate" style="max-width: 12vw"><%= "#{project.combined_address}" %></span>
    <% end %>
  </td>

  <td>
    <%= link_to "/projects/#{project.id}/overview", class: "text-decoration-none #{normal_text}" do %>
      <span class="d-inline-block text-truncate" style="max-width: 9vw"><%= project.pretty_phone %></span>
    <% end %>
  </td>

  <td>
    <%= link_to "/projects/#{project.id}/overview", class: "text-decoration-none #{normal_text}" do %>
      <span class="d-inline-block text-truncate" style="max-width: 8vw"><%= project.email %></span>
    <% end %>
  </td>

  <td class="text-center">
    <%= link_to "/projects/#{project.id}/overview", class: "text-decoration-none #{normal_text}" do %>
      <span class="d-inline-block text-truncate" style="max-width: 7vw"><%= project.expectedtimeline %></span>
    <% end %>
  </td>

  <td class="text-center <%= normal_text %>">
    <span class="d-inline-block text-truncate" style="max-width: 3vw"><%= project.created_at.strftime('%m/%d') rescue "" %></span>
  </td>

  <td class="text-center">
    <span class="d-inline-block text-truncate <%= normal_text %>" style="max-width: 3vw"><%= Time.iso8601(project.repc.sent_homeowner_at).strftime('%m/%d') rescue "-" %></span>
  </td>

  <td class="text-center <%= normal_text %>">
    <span class="d-inline-block text-truncate" style="max-width: 3vw"><%= project.offer_viewed.strftime('%m/%d') rescue '-' %></span>
  </td>

  <td class="text-center <%= normal_text %>">
    <span class="d-inline-block text-truncate" style="max-width: 3vw"><%= DateTime.parse(project.accepted_at).strftime('%m/%d') rescue "-" %></span>
  </td>
  <td class="text-center <%= normal_text %>">
    <span class="d-inline-block text-truncate" style="max-width: 3vw"><%= project.addendum_sent.strftime('%m/%d') rescue "-"%></span>
  </td>
  <td class="text-center <%= normal_text %>">
    <span class="d-inline-block text-truncate" style="max-width: 2vw"><%= project.direction %></span>
  </td>
  <td class="text-center <%= normal_text %>">
    <%= status_icon(project.status) %>
  </td>
</tr>
