<div class="container-xxl <%= current_area.style(:basic).classes %>" data-controller="projects-bar">
  <div class="row my-3">

  <div class="col-auto text-center">
    <div>
      <%= form_with(url: "/filters", method: :post, class: 'd-inline-block', id: 'projects-bar-form', data: { controller: 'submits-form-delayed sort-projects'}) do |form| %>
        <%= form.hidden_field :page, value: params[:page] %>
        <input type="text" class="form-control text-reset silica-weight-reset <%= 'bg-transparent' if BOOTSTRAP_UPGRADE %> " placeholder="Search" name="query" autocomplete="off" data-action="submits-form-delayed#submit_form">
        <%= form.hidden_field :statefilter, value: '' %>
        <%= form.hidden_field :cityfilter, value: '' %>
        <%= form.hidden_field :sourcefilter, value: '' %>
        <%= form.hidden_field :req_date, value: '' %>
        <%= form.hidden_field :offer_sent, value: '' %>
        <%= form.hidden_field :statusfilter, value: '' %>
        <%= form.hidden_field :sort_by, value: '' %>
        <%= form.hidden_field :sort_direction, value: '' %>
      <% end %>
    </div>
  </div>
  <div class="col">
    <div class="row justify-content-center">
      <div class="col-auto">
        <%= render '/projects/bar/state_filter' %>
      </div>
      <div class="col-auto">
        <%= render '/projects/bar/city_filter' %>
      </div>
      <div class="col-auto">
        <%= render '/projects/bar/req_date_filter' %>
      </div>
      <div class="col-auto">
        <%= render '/projects/bar/offer_sent_filter' %>
      </div>
      <div class="col-auto">
        <%= render '/projects/bar/source_filter' %>
      </div>
      <div class="col-auto">
        <%= render '/projects/bar/status_filter' %>
      </div>
    </div>
  </div>
  <div class="col-auto text-center">
    <% if BOOTSTRAP_UPGRADE %>
      <%= render '/shared/buttons/add_project' %>
    <% else %>
      <a class="btn btn-outline-brandprimary rounded-half-r-i silica-weight-reset" data-turbo="true" href="/projects/new" role="button">
        <i class="bi bi-plus"></i>
        PROJECT
      </a>
    <% end %>

  </div>

  </div>
</div>
