<% if UxPolicy.new(current_user, nil).underwriting? %>
  <%= render '/shared/summary', project: @project %>

  <%= render '/shared/tabs', project: @project, active: 'Underwriting' %>

  <div class="mt-3"><!-- spacer --></div>

  <%= render '/shared/underwriting_inner_tabs', project: @project, active: 'Property Analysis' %>

  <div class="container pt-3 pb-3">
    <div class="row">
      <div class="col text-center">
        <div class="p-5 <%= normal_text %> fw-light">

          <div class="row align-items-center">
	    <div class="col">
	      <!-- not used atm. -->
	    </div>
	    <div class="col-auto text-end">
	      <div>Last Run</div>
	      <div><%= @project.analysis_at || '-' %></div>
	    </div>
	    <div class="col-auto">
              <%= button_to "Request Info", download_property_analysis_project_path(@project), class: 'btn btn-brandprimary fw-light' %>
	    </div>
	  </div>

          <%= spacer(1) %>

          <div>
	    <iframe src="<%= @project.analysis_url %>" width="100%" style="border: none; height: 80vh"> </iframe>
	  </div>
	  

        </div>
      </div>
    </div>
  </div>
<% end %>


