<% if UxPolicy.new(current_user, nil).underwriting? %>
  <%= render '/shared/summary', project: @project %>

  <%= render '/shared/tabs', project: @project, active: 'Underwriting' %>

  <div class="mt-3"><!-- spacer --></div>

  <%= render '/shared/underwriting_inner_tabs', project: @project, active: 'Property Analysis' %>

  <div class="container pt-3 pb-3">
    <div class="row">
      <div class="col text-center">
        <div class="m-5 p-5 <%= normal_text %>">

          <%= experiment %>

        </div>
      </div>
    </div>
  </div>
<% end %>


