<div class="btn-group collapse show" role="group" data-contacts-target="sortdropdown">
  <div class="dropdown">
    <%= silica_button(type: 'button', data: {'bs-toggle' => 'dropdown'}) do %>
      Sort <i class="bi bi-chevron-down"></i>
    <% end %>

    <ul class="dropdown-menu <%= inherit_styles %>">
      <li><a class="dropdown-item <%= inherit_styles %>" data-action="contacts#sortFirstName" role="button"><i class="fas fa-check invisible"></i> First name</a></li>
      <li><a class="dropdown-item <%= inherit_styles %>" data-action="contacts#sortLastName" role="button"><i class="fas fa-check invisible"></i> Last name</a></li>
      <li><a class="dropdown-item <%= inherit_styles %>" data-action="contacts#sortPhoneMobile" role="button"><i class="fas fa-check invisible"></i> Phone</a></li>
      <li><a class="dropdown-item <%= inherit_styles %>" data-action="contacts#sortPhoneWork" role="button"><i class="fas fa-check invisible"></i> Work phone</a></li>
      <li><a class="dropdown-item <%= inherit_styles %>" data-action="contacts#sortEmail" role="button"><i class="fas fa-check invisible"></i> Email</a></li>
      <li><a class="dropdown-item <%= inherit_styles %>" data-action="contacts#sortInvestingLocation" role="button"><i class="fas fa-check invisible"></i> States</a></li>
      <li><a class="dropdown-item <%= inherit_styles %>" data-action="contacts#sortSendgridCreatedAt" role="button"><i class="fas fa-check invisible"></i> Added Date</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item <%= inherit_styles %>" data-action="contacts#toggleDirection" role="button"><i class="fas fa-check invisible"></i> Inverse Sort</a></li>
    </ul>
  </div>
</div>
