<% instance = generate_instance_id
   form_id = "form-of-#{instance}"
   project = Project.find(project_id)
%>

<div id="<%= instance %>">
  <%= form_with url: "/scouts", method: :post, class: 'd-inline-block main-form', id: form_id  do |form| %>
    <%= form.hidden_field 'scout[project_id]', value: project.id  %>
  <% end %>

  <button type="submit" class="btn btn-sm btn-brandprimary text-white rounded-half-r-i" form="<%= form_id %>"
    <%= 'disabled' unless true %>
  >
    CREATE SCOUT LINK <%= '(AGAIN)' if project.scout.present? %>
  </button>

</div>
