<% instance = generate_instance_id
   form_id = "form-of-#{instance}"
   project = Project.find(project_id)
%>

<div id="<%= instance %>">
  <%= form_with url: "/tx_scout_links", method: :post, class: 'd-inline-block main-form', id: form_id  do |form| %>
    <%= form.hidden_field 'tx_scout_link[project_id]', value: project.id  %>
  <% end %>

  <button type="submit" class="btn btn-sm btn-brandprimary text-white silica-rounded-0.5-i" form="<%= form_id %>"
    <%= 'disabled' unless project.scout %>
  >
    SEND SCOUT TO SELLER <%= '(AGAIN)' if project.scout_sent_at %>
  </button>

</div>
