<div class="row ms-2">

  <div class="col-2 p-2">
    <div class="mb-2">
      <%= silica_label 'Baths' %>
      <%= text_field_tag 'dispositions_prepare_listing_pane[baths]', project.listing.baths.presence || project.baths, class: ['form-control', *inherit_style], form: form_id, data: { action: 'dispositions-prepare-listing-pane#disableSendMarketingEmailButton' } %>
    </div>
  </div>

  <div class="col-2 p-2">
    <div class="mb-2">
      <%= silica_label 'HOA Fees' %>
      <%= text_field_tag 'dispositions_prepare_listing_pane[hoa_fees]', project.listing.hoa_fees.presence || project.hoa_fees, class: ['form-control', *inherit_style], form: form_id, data: { action: 'dispositions-prepare-listing-pane#disableSendMarketingEmailButton' } %>
    </div>
  </div>

  <div class="col-2 p-2">
    <div class="mb-2">
      <%= silica_label 'Heating' %>
      <%= text_field_tag 'dispositions_prepare_listing_pane[heating]', project.listing.heating.presence || project.heating, class: ['form-control', *inherit_style], form: form_id, data: { action: 'dispositions-prepare-listing-pane#disableSendMarketingEmailButton' } %>
    </div>
  </div>

</div>
