<% form_id = "form-of-#{addendum_version.silica_dom_id}" %>

<div id="<%= addendum_version.silica_dom_id %>">
  <%= form_with url: url_for(addendum_version), method: :patch, id: form_id do |form| %><% end %>

  <%= render '/card', title: addendum_version_card_title(addendum_version) do |p| %>

    <% if defined?(:p) && p %>
      <% p.content_for :heading_right do %>
      <span class='<%= inherit_styles %> badge bg-light'>
	<%= addendum_version.derived_status %>
      </span>
      <% end %>
    <% end %>

    <%= render '/addendum_versions/form/row1', editable: editable, addendum_version: addendum_version, form_id: form_id %>

    <div class="row">
      <div class="col m-3">
        <div>Addendum Terms</div>
        <%= render '/addendum_versions/editable_textarea',
	      is_editable: (editable && addendum_version.is_editable?),
              form_id: form_id,
              text: addendum_version.terms,
              name: 'addendum_version[terms]'
	    %>
      </div>
    </div>

    <div class="row">
      <div class="col m-3">
        <div>Related REPC</div>
          repc v<%= addendum_version.related_repc.version %>
      </div>
    </div>

    <%= render '/addendum_versions/form/actions', addendum_version: addendum_version, editable: editable, form_id: form_id %>
  <% end %>
</div>
