<% if UxPolicy.new(current_user, nil).files? %>
  <%= render '/projects/show/shared/summary', project: @project %>

  <%= render '/projects/show/shared/tabs', project: @project, active: 'Files' %>

  <div class="container pt-3 pb-3 <%= current_area.style(:basic).classes %>">
    <div class="row">
      <div class="col text-center">
        <div class="m-5 p-5 <%= normal_text %>" style="outline: 3px solid yellow">
            <%= javascript_include_tag 'silica_react_entry' %>
            <%= react_component('ExampleReactComponent', exampleprop: 'Example Prop') %>
        </div>
      </div>
    </div>
  </div>
<% end %>

