<% if (current_user&.permission?('reader') || current_user&.permission?('filesReader')) %>
  <%= render '/projects/show/shared/summary', project: @project %>

  <%= render '/projects/show/shared/tabs', project: @project, active: 'Files' %>

  <div class="container pt-3 pb-3 <%= current_area.style(:basic).classes %>">
    <div class="row">
      <div class="col">
        <div class="my-1 py-1">
          <div style="max-width: 999px; height: 75vh; background-color: rgba(0,0,0,0.01)">
            <div style="padding: 8px">Folder: <%= params[:folder].presence || '/' %></div>
            <div style="padding: 8px">Folder: <%= folder_chain_hyperlinks(@project, params[:folder])  %></div>

            <%= javascript_include_tag 'silica_react_entry' %>
            <script>window.silica_chonky_current_folder = '<%= j params[:folder] %>';</script> 
            <%= react_component(
		  'ExampleReactComponent',
		  silicaProjectId: @project.id,
		  files: @project.project_files_for_react_component(params[:folder])) %>
            <style>
              .chonky-chonkyRoot { background-color: transparent; color: #334155; border-color: transparent; height: 75vh }
              .MuiTypography-body1 { font-weight: inherit; color: #334155 }
	      .MuiButton-root { font-weight: inherit; color; #334155; }
              .MuiMenuItem-root { font-weight: 300; color: #334155 }
              .folderBackSideTop-0-2-110::after { border-color: transparent; }
            </style>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

