<%
  yield p = np
  card_body_style = local_assigns[:card_body_style] || 'p-3'
  has_header = local_assigns[:title].present? || local_assigns[:bubble_text].present? || p.content_for?(:heading_right)
%>

<div class="card bg-white shadow-sm border-light silica-rounded-1-i">
  <div class="card-body <%= local_assigns[:card_body_style] %>">

    <% if has_header %>
      <div class="<%= BOOTSTRAP_UPGRADE ? '' : 'apollo-fg-black-6 apollo-fs-20' %>">
      
        <span class="<%= BOOTSTRAP_UPGRADE ? "btn pe-none #{current_area.style(:strong).classes}" : 'apollo-fg-black-6 apollo-fs-20' %>"><%= local_assigns[:title] %></span>
      
        <% if local_assigns[:bubble_text] %>
          <%= apollo_popover(local_assigns[:bubble_text]) %>
        <% end %>
      
        <div class="float-end">
          <%= p.yield :heading_right %>
        </div>
      
      </div>
      
      <hr class="<%= BOOTSTRAP_UPGRADE ? 'my-1' : '' %>">

    <% end %>

    <%= yield %>
  </div>
</div>

