<!--begin::Footer-->
<div class="text-center mt-5 mb-1">
  <!--begin::Links-->
  <div zclass="d-flex align-items-center fs-6">
    <a href="<%= silica_bucket('/privacy.pdf', brand: COMPANY_LC) %>" class="fw-light text-decoration-none px-2 <%= normal_text %>">Privacy</a>
    <a href="<%= silica_bucket('/terms.pdf', brand: COMPANY_LC) %>" class="fw-light text-decoration-none px-2 <%= normal_text %>">Terms</a>
    <a href="mailto:<%= SILICA_SUPPORT %>" class="fw-light text-decoration-none px-2 <%= normal_text %>">Contact Us</a>
  </div>
  <!--end::Links-->
</div>
<!--end::Footer-->
