<%= spacer(2) %>

<%= basic_container do %>
  <div class="text-center">
    <a href="<%= silica_bucket('/privacy.pdf') %>" class="<%= plain_link_classes %>">
      Privacy
    </a>
    <%= horizontal_spacer %>
    <a href="<%= silica_bucket('/terms.pdf') %>" class="<%= plain_link_classes %>">
      Terms
    </a>
    <%= horizontal_spacer %>
    <a href="mailto:<%= SILICA_SUPPORT %>" class="<%= plain_link_classes %>">
      Contact Us
    </a>
  </div>
<% end %>
