<%= spacer(30) %>
<%= render '/experiment' %>
<%= silica_container do %>
  <div class="text-center">
    <a href="<%= silica_bucket('/privacy.pdf') %>" class="text-decoration-none text-reset">
      Privacy
    </a>
    <%= horizontal_spacer %>
    <a href="<%= silica_bucket('/terms.pdf') %>" class="text-decoration-none text-reset">
      Terms
    </a>
    <%= horizontal_spacer %>
    <a href="mailto:<%= SILICA_SUPPORT %>" class="text-decoration-none text-reset">
      Contact Us
    </a>
  </div>
<% end %>

