<% id = "lenders"
   form_id = "form-#{id}"
   project = Project.find(project_id)
%>

<div id="<%=id%>">
  <%= form_with model: project, class: 'd-inline-block main-form', id: form_id  do |form| %>
  <% end %>

  <%= render '/card', title: 'Lenders' do %>

    <div class="row">
      <div class="col mx-3 py-3">
        <div class="<%= demoted_text %>">Lender 1</div>
        <span class="border-bottom-dashed" data-controller="input-inline" data-form="<%= form_id %>"><%= project.lender_1 %></span>
        <input type="hidden" name="project[lender_1]" form="<%= form_id %>" value="<%= project.lender_1 %>" />
      </div>
    </div>

    <div class="row">
      <div class="col mx-3 py-3">
        <div class="<%= demoted_text %>">Lender 2</div>
        <span class="border-bottom-dashed" data-controller="input-inline" data-form="<%= form_id %>"><%= project.lender_2 %></span>
        <input type="hidden" name="project[lender_2]" form="<%= form_id %>" value="<%= project.lender_2 %>" />
      </div>
    </div>

  <% end %>
</div>
