<nav id="apollo-nav" class="navbar navbar-light navbar-expand-lg fixed-top <%= (@zrea&.menu_mode == "mop" || @menu_mode == "mop") ? "bg-light" : theme_background_level_1! %>">
  <div class="container-xxl">

    <%= render '/nav/brand', menu_mode: (@zrea ? @zrea.menu_mode : @menu_mode) %>

    <%= render '/nav/toggler' %>

    <% if should_show_offcanvas %>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <%= render '/nav/offcanvas_header' %>
      <%= render '/nav/offcanvas_body', items: items, allow_session_buttons: allow_session_buttons %>
    </div>
   <% end %>
  </div>
</nav>
