<div class="col-12 col-lg" style="height: 740px; overflow: hidden; max-width: 440px">
  <div class="px-3 px-xxl-5 zpy-1 zpy-xxl-5 zpx-1 zpx-xxl-5 <%= current_area.low_background_style %> w-100" style="border-radius: 20px;">
    <div class="my-1">&nbsp;</div>

    <%= render '/repcs/show/paras/para_w_title',
        title: 'No Showings',
        para: 'No need to keep a spotless, 
               show-ready house and worry about strangers 
               walking through your home. ' %>
    
    <div class="mt-2"></div>
    
    <%= render '/repcs/show/paras/para_w_title',
        title: 'No Repairs',
        para: "No need to make your home \"market ready\", #{COMPANY_LC} takes care of
    	   everything and anything that needs to be fixed." %>
    
    <div class="mt-2"></div>
    
    <%= render '/repcs/show/paras/para_w_title',
        title: 'No Appraisal',
        para: "Your offer is not contingent on an appraisal, rather #{COMPANY} does a
               complementary site visit to ensure we have the right house and
               people" %>
    
    <div class="mt-2"></div>
    
    <%= render '/repcs/show/paras/para_w_title',
        title: 'Extended Stay Options',
        para: "We get it, moving takes coordination, #{COMPANY} provides flexible moving
               solutions and can work with you to select the perfect move out date." %>
    

    <div class="mb-2"><!-- spacer --></div>

    <%= render '/repcs/show/paras/para_w_title',
        title: 'Disclaimer',
        para: APOLLO_DISCLAIMER %>

    <br><br>
  </div>
  <div class="d-block d-lg-none mb-5"><!-- divider --></div>


  <div class="mb-1"><!-- spacer -->&nbsp;</div>


</div>

