<div class="offcanvas-body">
  <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
    <% current_area.menu_items.each do |item| %>
    <li class="nav-item mx-3">
      <a class="nav-link <%= 'pe-none' unless item[:allowed] == true %> <%= Marketplace::StrongStyle.css %>" style="<%= Marketplace::StrongStyle.inline_css %>" aria-current="page" href="<%= item[:link] %>">
        <%= feather_icon(item[:feather_icon]) if item[:feather_icon] %>
	<%= item[:label] %>
      </a>
    </li>
    <% end %>

    <li class="nav-item d-inline-block d-lg-none">
      <a class="btn <%= Marketplace::StrongStyle.css %> px-3 py-2" style="font-weight: inherit; <%= Marketplace::StrongStyle.inline_css %>" href="/listings" role="button">
        View Properties
      </a>
    </li>
  </ul>

  <div class="col-auto">
    <% if !current_user && current_area.devisable? %>
      <div class="btn-group">
        <a class="btn <%= Marketplace::StrongStyle.css %>" style="font-weight: inherit; <%= Marketplace::StrongStyle.inline_css %>" href="/users/sign_in" role="button">
          <span class="d-inline d-lg-none">
            Log in
      	</span>
          <span class="d-none d-lg-inline">
            <i class="fas fa-sign-in-alt"></i>
      	</span>
        </a>
      </div>
    <% end %>
    <% if current_area.is_a?(Area::Market) %>
    <div class="btn-group d-none d-lg-block">
      <a class="btn btn-danger rounded-3 <%= Marketplace::StrongStyle.css %> ms-5 px-3 py-2" style="<%= Marketplace::StrongStyle.inline_css %>" href="/listings" role="button">
        View Properties
      </a>
    </div>
    <% end %>
  </div>

  <% if current_user && current_area.devisable? %>
    <div class="col-auto">
      <div class="btn-group">
        <button type="button" class="btn dropdown-toggle ps-0 ps-lg-2 <%= Marketplace::StrongStyle.css %>" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false" style="<%= Marketplace::StrongStyle.css %>">
          <%= current_user.nick %>
        </button>
        <ul class="dropdown-menu dropdown-menu-lg-end <%= theme_background_level_1! %>">
          <li class=""><a class="btn dropdown-item <%= normal_text! %>" href="/accounts/<%= current_user.id %>">Account</a></li>
          <% if current_user.staff? %>
            <li class=""><a class="btn dropdown-item <%= normal_text! %>" href="<%= edit_configuration_path %>">Edit Configurtion</a></li>
          <% end %>
          <% if policy(:contact).index? %>
          <li class=""><a class="btn dropdown-item <%= normal_text! %>" href="/contacts">Contacts <span class="badge rounded-pill bg-danger">new</span></a></li>
          <% end %>
    
          <% if UxPolicy.new(current_user, nil).resync? %>
          <li class=""><%= button_to "Re-sync with Production DB", reverts_path, class: 'dropdown-item btn' %></li>
          <% end %>
    
          <li class=""><a class="btn dropdown-item <%= normal_text! %> pe-none" href="https://example.net/">Notifications</a></li>
          <li>
            <%= button_to('Logout', destroy_user_session_path, method: :delete, class: "btn dropdown-item #{normal_text!}", style: '') %>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
</div>
