<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <%= yield :extra_meta_tags %>
    <title><%= current_area.title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render '/favicons' %>
    <%= stylesheet_link_tag "application" %>
    <%= render '/stylesheets' %>
    <%= javascript_importmap_tags %>
    <%= render '/javascripts' %>
  </head>

  <body id="testing1646111336" class="apollo position-relative <%= current_area.body_style %> zbg-white-level-four apollo-bg-white-4 <%= yield :extra_body_classes %> <%= current_area.deprecated_font %>" style="<%= yield :extra_body_inline_css %>">
    <%= render('/nav') if current_area.nav? %>
    <%= render '/flashes' %>
    <div class="mt-4">&nbsp;<!-- space for nav --></div>
    <div class="mt-3">&nbsp;<!-- space for nav --></div>
    <%= yield %>
    <%= render '/footer' if current_area.footer? %>
    <%= render '/instance' %>
    <%= render '/redirect', url: nil %>
    <%= render '/reload', example: nil  %>
    <%= render '/scroll', element_id: nil %>
  </body>
</html>

