<%= spacer(3) %>

<%= silica_container('accounts-show', inline_css: 'min-height: 74vh') do %>
  <div class="accordion <%= inherit_styles %>" id="accounts-show-accordian">
    <div class="accordion-item <%= inherit_styles %>">
      <h2 class="accordion-header <%= inherit_styles %>">
	<button class="accordion-button <%= inherit_styles %>" type="button" data-bs-toggle="collapse" data-bs-target="#silica-1649249534">
          Change Password
	</button>
      </h2>
      <div id="silica-1649249534" class="accordion-collapse collapse show" data-bs-parent="#accounts-show-accordian">
	<div class="accordion-body">
          <%= render '/accounts/show/form' %>
	</div>
      </div>
    </div>
  </div>
<% end %>
